<div class="">
  <a href="#" id="create-modal-link" data-toggle="modal" data-target="#replyModal">Add Reply</a>
</div>

<h1 class='subject-title'><%= @subject.title %></h1>
<hr class='big-line'>

<div class="post">
  <div class="post-header">
    <p><%= @subject.user.full_name  %></p>
  </div>

  <div class="post-body">
    <p><%= @subject.body  %></p>
  </div>

  <div class="post-footer">
    <p>June 30, 2017</p>
  </div>
</div>
<hr class='small-line'>

<div id="replies">
  <%= render 'replies/replies', replies: @replies  %>
</div>

  <div class="modal fade" id="replyModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Reply</h4>
        </div>
        <div class="modal-body">
          <%= form_for [@subject,@reply], remote: true do |f| %>
            <div class="form-group">
              <%= f.label :body %>
              <%= f.text_area :body, class: "form-control"  %>
            </div>
            <%= f.submit class: "btn btn-primary", id: "button" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
