<!DOCTYPE html>
<html>
  <head>
    <title>Foodsight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:url"           content="https://foodsight.herokuapp.com/" />
     <meta property="og:type"          content="website" />
     <meta property="og:title"         content="Foodsight" />
     <meta property="og:description"   content="Learn about those hard to pronounce food chemicals in a bite-sized format" />
     <meta property="og:image"         content="https://ehonami.blob.core.windows.net/media/2015/04/eat-food-keeps-brain-young-800x600.jpg"/>
  </head>

  <%= render 'welcome/sidebar', ingredients: ingredients %>

    <div class="main col-md-9 col-md-offset-3">
      <%= yield %>
    </div>

  </body>
</html>
