<!DOCTYPE html>
<html>
  <head>
    <title>Foodsight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= render 'welcome/sidebar', ingredients: ingredients %>

    <div class="main col-md-9 col-md-offset-3">
      <nav style="float:right;position:fixed; right: 100px; top: 20px;">
        <a href="/topics">Discuss</a>
      </nav>

      <%= yield %>
    </div>

  </body>
</html>
