<!DOCTYPE html>
<html>
<head>
  <title>Foodsight</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
  <body style="background-color: #f0ede4 ">

    <div class="container">
      <nav>
        <a href="/">Home</a>

        <div class="nav-right">
          <a href="#">Login</a> or
          <%= link_to 'Register', new_user_path %>
        </div>

      </nav>
      <%= yield %>
    </div>

  </body>
</html>
