<!DOCTYPE html>
<html>
<head>
  <title>Foodsight</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
  <body style="background-color: #f0ede4 ">

    <ol class="breadcrumb discuss-nav">
      <li class="logo">foodsight</li>
      <%= render_breadcrumbs :tag => :li, :separator => "" %>

      <% if user_signed_in? %>
      <li class="pull-right"><%= link_to 'Sign out', sessions_path, method: :delete %></li>
      <li class="pull-right">Welcome, <%= current_user.first_name %></li>
      <% else %>
      <li class="pull-right"><%= link_to 'Login', new_session_path %></li>
      <li class="pull-right"><%= link_to 'Register', new_user_path %></li>
      <% end %>

    </ol>

    <div class="search-bar">
      <%= form_tag search_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    </div>

    <div class="container">

    <% end %>

      <% if flash[:notice] %>
        <div class='alert alert-success'><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class='alert alert-danger'><%= flash[:alert] %></div>
      <% end %>

          <%= yield %>
    </div>

  </body>
</html>
