<!DOCTYPE html>
<html>
<head>
  <title>Foodsight</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<%= favicon_link_tag asset_path('favicon.png') %>

</head>
  <body style="background-color: #f0ede4 ">

    <ol class="breadcrumb discuss-nav">

      <div class="search-bar pull-right">
        <div class="">
          <%= form_tag search_index_path, :method => 'get' do %>
          <div class="input-group stylish-input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
              <span class="input-group-addon">
                  <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
              </span>
          </div>

         <% end %>
        </div>
      </div>
      <li class="logo">foodsight</li>
      <%= render_breadcrumbs :tag => :li, :separator => "" %>


        <% if user_signed_in? %>
        <li class="pull-right"><%= link_to 'Sign out', sessions_path, method: :delete %></li>
        <li id ="username" class="pull-right">Welcome, <%= current_user.first_name %></li>
        <% else %>

        <li class="pull-right">  <a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <li class="pull-right"><%= link_to 'Register', new_user_path %></li>

        <% end %>




    </ol>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <%= render "sessions/new" %>
    </div>
    <div class="container">


      <% if flash[:notice] %>
        <div class='alert alert-success'><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class='alert alert-danger'><%= flash[:alert] %></div>
      <% end %>

          <%= yield %>
    </div>

  </body>
</html>
